

.botao.add {
    padding-top: 10px; 
  }
  
  .btn-espaco {
 
    margin-right: 10px; 
  
 }

 
.tabela-estilo {

   font-family: Georgia, Times, "Times New Roman", serif; 
   font-size: 15px; 
   font-style: normal; 
   font-variant: normal; 
  }
  